/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #adminmenu div.wp-menu-image.svg{background-repeat:no-repeat;background-position:center;background-size:24px auto !important;margin-top: 0.4em;}
 div.wp-menu-image:before{color:#a7aaad;color:rgba(240,246,252,.6);padding:7px 0;transition:all .1s ease-in-out}